:root {
  --color-gray: #b0b8c4;
  --color-dark: #101418B3;
  --color-dark2: #141A1F;
  --color-white: white;
  --color-blue-logo: #04bacf;
  --color-blue-logo2: #366994;
  --color-blue-logo3: #66d6e2;
  --box-shadow: #1F262E;
  --color-whatsapp: #25d366;
}

body {
  background-color: var(--color-dark2);
  margin: 0;
  color: var(--color-white);
}

a {
  text-decoration: none;
  color: var(--color-white);
  transition: 1s;
  font-weight: bold;
}

button {
  background: var(--color-blue-logo);
    padding: 0.6rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 1s;
    color: var(--color-white);
}

button:hover {
  background: var(--color-white);
  color: var(--color-blue-logo);
}

hr {
  border-color: rgba(194, 224, 255, 0.08);
  margin: 0;
  border-width: 0;
  border-style: solid;
  border-bottom-width: thin;
}

.titles_navigation {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem auto 2.5rem;
}

span {
  color: var(--color-blue-logo);
}


input, textarea {
  background-color: var(--color-dark);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  width: 250px;
}

.footer {
  background-color: var(--color-dark);
  display: flex;
  justify-content: space-around;
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright p {
  color: var(--color-gray);
  font-size: 0.75rem;
  line-height: 1.5;
}

.icon_social {
  margin: auto 0.5rem;
}

.whatsapp {
  right:25px; 
  position:fixed; 
  bottom:40px; 
  background-color: var(--color-dark);
  border-radius:50px; 
  z-index: 100;
}

.whatsapp:hover {
  background-color: var(--color-whatsapp); 
}

.icon_whatsapp {
  padding: 0.5rem;
}

 /* MEDIA QUERYS */

 @media (min-width: 900px) {
  .container {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
@media (min-width: 600px) {
  .container {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media (min-width: 0px) {
  .container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
